body {
  margin: 0;
  font-size: 17px;
  font-family: "Segoe Print", cursive;
  color: #9dd9f0;
  background-color: #cccccc;
}

.header-container, .login-container, .account-container, .container {
  margin: 5px auto;
  text-align: center;
  width: 60%;
  background-color: #1f1f1f;
  margin: 1% auto;
  padding: 2%;
  border-radius: 5px;
  border: 2px solid #1f1f1f;
  box-shadow: 0 0 10px 0 #333333;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navbar-container a,  .navbar-container p {
  text-decoration: none;
  color: #9dd9f0;
  margin: 0 10% 0 0;
  text-transform: uppercase;
  font-weight: bold;
}

.label-container {
  width: 50%;
  margin: 1rem auto 0;
  text-align: left;
}

.input-container, .button {
  width: 50%;
  padding: 10px 0;
}

.button {
  margin: 1.5rem auto;
  background-color: #9dd9f0;
  font-family: "Segoe Print", cursive;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 1050px) {
  .header-container, .login-container, .account-container, .container {
    width: 90%;
  }
}

@media screen and (max-width: 455px) {
  .navbar-container {
    font-size: 15px;
  }
}
