body {
  margin: 0;
  font-size: 17px;
  font-family: "Segoe Print", cursive;
  color: #9dd9f0;
  background-color: #cccccc;
}

.logo-img {
  border-radius: 50%;
  width: 25%;
}

.user-logo {
  width: 70%;
  padding: 5%;
  background: #cfd0ca;
  box-shadow: 1px 1px 2px #ccc;
  border-radius: 5px;
}

.header-container {
  margin: 5px auto;
  text-align: center;
  width: 60%;
  background-color: #1f1f1f;
  margin: 1% auto;
  padding: 2%;
  border-radius: 5px;
  border: 2px solid #1f1f1f;
  box-shadow: 0 0 10px 0 #333333;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navbar-container a {
  text-decoration: none;
  color: #9dd9f0;
  margin-left: 10%;
  text-transform: uppercase;
  font-weight: bold;
}


@media screen and (max-width: 1050px) {
  .header-container {
    width: 90%;
  }
}

@media screen and (max-width: 455px) {
  .navbar-container {
    font-size: 15px;
  }
}
